html, body {
  height: 100%;
}
#root, main, section {height: 100%}

#root, main {
  overflow-y: scroll;
}


main {background-color: #eee;}

nav {
  height:100%;
  background-color: #999;; 
}

nav a {
  color: #fff;
  line-height: 200%;
  font-weight: 600;
}

.standings-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1em;
  height: 100%;
}

.standings {text-align: left;}
nav ul {list-style: none;}
.noData {display: none;}
.teamInfo ~ .standings, .teamInfo ~ h2 {display: none;}

th, td {padding: .2em .4em;}

.player:hover {
  cursor: pointer;
  text-decoration: underline;
}

.open {display:block;}
.closed {display: none;}
.open.closed {display: block;}

@media screen and (max-width: 700px) {
  .standings-grid {
    grid-template-columns:  1fr;
  }
} 