html, body {
  height: 100%;
}
#root, main, section {height: 100%}

#root {
  overflow-y: scroll;
}


/* main {background-color: #eee;} */

nav {
  height:100%;
  background-color: #999; 
}

nav a {
  color: #fff;
  line-height: 220%;
  font-weight: 600;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;
}

.standings-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-gap: 1em;
  height: 100%;
}

.standings {text-align: left;}
nav ul {list-style: none;}
.noData {display: none;}
.teamInfo ~ .standings, .teamInfo ~ h2 {display: none;}

th, td {padding: .2em .4em;}

.player:hover {
  cursor: pointer;
  text-decoration: underline;
}

.open {display:block;}
.closed {display: none;}
.open.closed {display: block;}
.loader {display: none;}

.loading .loader {
  display: block;
  position: absolute;
  width: 17em;
  height: 8em;
  top: 2em;
  left: 0;
  z-index: 99;
  background-color: lightblue;
  text-align: center;
}

.lds-circle {
  display: inline-block;
  transform: translateZ(1px);
}

.loader-circle > div {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  background: #6eacbf;
  animation: loader-circle 2.4s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
@keyframes loader-circle {
  0%, 100% {
    animation-timing-function: cubic-bezier(0.5, 0, 1, 0.5);
  }
  0% {
    transform: rotateY(0deg);
  }
  50% {
    transform: rotateY(1800deg);
    animation-timing-function: cubic-bezier(0, 0.5, 0.5, 1);
  }
  100% {
    transform: rotateY(3600deg);
  }
}

@media screen and (max-width: 700px) {
  .standings-grid {
    grid-template-columns:  1fr;
  }
} 